@tailwind base;
@tailwind components;
@tailwind utilities;


.debug {
    outline: solid 1px red;
}

.orange-to-purple-gradient {
    background-image: linear-gradient(to right, #ff9900, #8a2be2, #ff00ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.purple-to-blue-gradient {
    background: linear-gradient(to right, #d946ef, #8b5cf6, #1c64f2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}